/* DESIGN SYSTEMS


---01-Typography system---

font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font-family: Rubik

line-heights
 default: 1  


font-weights
 default: 400




---02-Colors---
main: #1E90FF
tints:
shades:
accent:
Grey: 


---03-Shadows---



---04-Border-radius---

9px



---05-Whitespace---

spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1 rem = 10px */
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Audiowide", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
