* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2.4rem;
  background-color: red;
}


.hero-img::before {
  content: "Navigation Bar";
  position: absolute;
  top: -40px;
  right: -120px;
  font-size: 1.6rem;
  color: #1e90ff;
  font-weight: 500;
}

.hero-img::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 20px;
  width: 125px;
  height: 2px;
  background-color: #1e90ff;
}
.hero-img-pointer::after {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 130px;
  background-color: #1e90ff;
}

/* Logo pointer */
.hero-img .project-img::before {
  content: "Logo";
  position: absolute;
  top: 20px;
  left: -80px;
  font-size: 1.6rem;
  color: #1e90ff;
  font-weight: 500;
}

.hero-img .project-img::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -20px;
  width: 60px;
  height: 2px;
  background-color: #1e90ff;
}

/* Hero section pointer */
.hero-img-pointer {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-img-pointer::before {
  content: "Hero Section";
  font-size: 1.6rem;
  color: #1e90ff;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.hero-img-pointer::after {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 130px;
  background-color: #1e90ff;
}